._tooltips_containier {
	position: relative;
}

._tooltips {
	display: none;
}

._tooltips_containier ._tooltips {
	display: block;
	background-color: #777;
	color: #ffffff;
	padding: 6px;
	border-radius: 3px;
	font-size: 0.8em;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -140%);
	width: 120px;
	font-family: Arial, Helvetica, sans-serif;
}

._tooltips::after {
	content: " ";
	width: 0;
	height: 0;
	bottom: -12px;	
	transform: rotate(0);
	border-style: solid;
	border-width: 12px 12.5px 0 12.5px;
	border-color: #777 transparent transparent transparent;
	position: absolute;
	left: calc(50% - 6px);
}